@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - CI/CD Test</h1>
    
    <B>Bacardim Azpeteol baksel</b>
    
    men ozumde irelileyis gorurem
    
    mence hele sehvlikler var
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Heyat davam edir MAl san  xiyar tursusu</p>
    <p><strong>🚀 Deployed via GitHub Actions!</strong></p>
</div>